@import "../../../styles/variables";
@import "../../../styles/mixins";

.button__primary {
    background-color: $colorAccent;
    border-radius: 3px;
    color: white;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .3px;
}
